---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Accordion from '@/components/Accordion';

---

<Layout title="Alfred, Asistente de minutas CI.">
	<main>
		<Banner/>

		<div class="max-w-screen-xl mx-auto px-4 py-10">
			<hr class="mb-10">

			<Accordion client:load/>
		</div>
	</main>
</Layout>
