---
const { title } = Astro.props;
import 'animate.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Alfred, Asistente IA de minutas." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/alfred/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: din-black;
		src: url(/font/DINPRO-BLACK.OTF);
	}

	@font-face {
		font-family: din-bold;
		src: url(/font/DINPRO-BOLD.OTF);
	}

	@font-face {
		font-family: din-medium;
		src: url(/font/DINPRO-MEDIUM.OTF);
	}

	@font-face {
		font-family: din-regular;
		src: url(/font/DINPRO-REGULAR.OTF);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #FFF;
	}
</style>
